*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

input:focus{
	outline: none;
}
.form input{
	width: 300px;
	height: 20px;
	font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 20px;
}
.form input::placeholder{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}
.confirm{
    height: 0;
    overflow: hidden;
    transition: .25s;
}
.btn{
	width:140px;
	height: 40px;
	border: 1px solid #fff;
    background: none;
	font-size:20px;
	color: #fff;
    cursor: pointer;
    margin-top: 25px;
    transition: .25s;
    border-radius:5px;
}
.btn:hover{
    background: rgba(255,255,255,.25);
}
#login_wrap{
    width: 90%;
    min-height: 650px;
    overflow: hidden;
    position: fixed;
    margin-top:5%;
    
  
}
#login{
    width: 40%;
    height: 100%;
    min-height: 750px;
    background: linear-gradient(45deg, #57aab7, #bd77bc);
    position: relative;
    float: right;
    border-radius: 20px;
}
#login #status{
    width: 120px;
    height: 35px;
    margin: 40px auto;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
#login #status i{
    font-style: normal;
    position: absolute;
    transition: .5s
}
#login .form-area{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 40%;
    margin-top: -140px;
}
#login .form-area a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 40px;
    font-size: 18px;
}

#login .msg-area{
     text-align: center;
     position: absolute;
     left: 58%;
     margin-left: -150px;
     top: 75%;
     margin-top: -140px;
 }

#login .sign-msg-area{
    text-align: center;
    position: absolute;
    left: 58%;
    margin-left: -150px;
    top: 100%;
    margin-top: -140px;
}

#bg{
    background: url(../images/study.jpg) no-repeat;
    background-size:100% 100%;
    width:100%;
    height: 100%;
}

